:root {
  --primary-color: #ff8870;
  --secondary-color: #fec89a;
  --background-color: #f8edeb;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  font-family: "Playfair Display", serif;
  font-family: "Poppins", sans-serif;
  background-color: var(--background-color);
}

.front-cover {
  text-align: center;
}

.titlefront {
  font-family: "Poppins", sans-serif;
  font-size: 36px;
  font-weight: 700;
  color: #1f0e0a;
}

h2 {
  font-family: "Playfair Display", serif;
  font-size: 96px;
  font-weight: 700;
  color: #000;
}

.subtitlefront {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  margin-top: 24px;
  margin-bottom: 50px;
}

.primary-link {
  background-color: var(--primary-color);
  color: #000;
  padding: 18px 30px;
  text-decoration: none;
}

.primary-link:hover {
  color: var(--background-color);
}

.secondary-link {
  color: var(--primary-color);
  text-decoration: none;
  padding: 18px 30px;
  border: 1px solid var(--primary-color);
  border-radius: 4px;
}

.secondary-link:hover {
  color: var(--primary-color);
}
p {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 30px;
}

.grid-project {
  margin: 50px auto;
}
