:root {
  --primary-color: #6aa1dc;
  --secondary-color: #aecbeb;
  --background-color: #e1ecf7;
  --text-color: #07090d;
  --title-color: #07090d;
  --heading-font-family: "Playfair Display", serif;
  --text-font-family: "Poppins", sans-serif;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.hero h1 {
  font-family: var(--heading-font-family);
  font-weight: 700;
  font-size: 96px;
  line-height: 127px;
}

.hero h2 {
  font-family: var(--text-font-family);
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
}
.hero {
  background-color: var(--background-color);
  text-align: center;
  padding: 160px 20px;
}

.hero-text {
  font-family: var(--heading-font-family);
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
}

.work-title {
  font-family: var(--text-color);
  font-size: 18px;
  text-align: center;
  line-height: 27px;
  margin: 80px auto;
}

.work-section h2 {
  font-family: var(--heading-font-family);
  font-weight: 700;
  font-size: 64px;
  line-height: 85px;
}

.work-section p {
  font-family: var(--text-font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  margin: 50px auto;
}

.second-grid {
  margin: 65px auto;
}

.primary-link {
  background-color: var(--primary-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  color: white;
  padding: 18px 30px;
}

.secondary-link {
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 18px 30px;
}
